Repository AlexsLemonade/scpca-portal, pull requests merged in 2024-04, with the labels that each got.

#605 598 - Fix the delay in updating DownloadOptionsContext state to resolve a bug
  client/src/components/DownloadOptionsModal.js
  client/src/hooks/useDownloadOptionsContext.js
Labels: bug, client / front-end

#604 603 - Use the named import for the useState hook
  client/src/components/ProjectSamplesTable.js
Labels: Low Priority, client / front-end

#538 526 - New Organisms Filter for Browse Projects
  client/src/components/ProjectSearchFilter.js
Labels: client / front-end

#539 527 - Add "Models" filter to browse projects
  client/src/components/ProjectSearchFilter.js
  client/src/helpers/getReadable.js
  client/src/helpers/isLastIndex.js
Labels: client / front-end

#540 528 - Present Additional Restrictions on the client
  client/src/components/DetailsTable.js
  client/src/components/DownloadStarted.js
  client/src/components/ProjectAdditionalRestrictions.js
  client/src/pages/projects/[scpca_id].js
Labels: client / front-end

#600 561 - Add is_cell_line and is_xenograft properties to `Sample` model
  api/scpca_portal/migrations/0038_auto_20240320_2042.py
  api/scpca_portal/models/project.py
  api/scpca_portal/models/sample.py
  api/scpca_portal/serializers.py
  api/scpca_portal/test/management/commands/test_load_data.py
  api/scpca_portal/test/serializers/test_sample.py
Labels: API

#607 575 - Re-open call for contributions: Update contribution guidelines, add PDF, and remove card
  client/public/contributing-guidelines.pdf
  client/src/components/ContributeDownloadPDFButton.js
  client/src/components/ContributePhaseOutBanner.js
  client/src/components/Layout.js
  client/src/config/index.js
  client/src/pages/contribute.js
Labels: Medium Priority, client / front-end

#630 Fix - Remove the duplicated Last Updated line from the Privacy Policy page
  client/src/pages/privacy-policy.js
Labels: bug, client / front-end

#601 367 - Improve load data script flags handling
  api/scpca_portal/management/commands/load_data.py
Labels: API

#602 550 - Add Merged Object Download Options
  client/src/components/CheckBoxMergedObjects.js
  client/src/components/DownloadOption.js
  client/src/components/DownloadOptions.js
  client/src/components/DownloadStarted.js
  client/src/components/HelpLink.js
  client/src/components/WarningMergedObjects.js
  client/src/config/index.js
  client/src/contexts/DownloadOptionsContext.js
  client/src/hooks/useDownloadOptionsContext.js
  client/src/theme/checkBox.js
Labels: client / front-end

#564 546 - Clean up `type` from `computed_file`
  api/scpca_portal/migrations/0041_remove_computedfile_type.py
  api/scpca_portal/models/computed_file.py
  api/scpca_portal/models/project.py
  api/scpca_portal/models/sample.py
  api/scpca_portal/serializers.py
  api/scpca_portal/test/factories.py
  api/scpca_portal/test/models/test_computed_file.py
  api/scpca_portal/test/serializers/test_computed_file.py
  api/scpca_portal/views/computed_file.py
Labels: Low Priority, API

#631 637 - Add a new column for `multiplexed_with` to `ProjectSamplesTable`
  client/src/components/ProjectSamplesTable.js
Labels: client / front-end
